*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 1em;
}

body, html{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50vw;
    font-size: 1.2em;
}
caption{
    font-size: 2em;
    margin-bottom: 10px;
}

thead{
    font-weight: bolder;
}

tr, td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
    text-align: center;
}

tr:hover{
    background-color: silver;
    cursor: pointer;
}

#btns{
    position: fixed;
    top: 0;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    margin-top: 7px;
    padding: 5px;
    border-radius: 10px;
}

#btns>button{
    padding: 3px;
    font-size: 1em;
    width: 100px;
    border-radius: 7px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.644);
    cursor: pointer;
}

#btns>button:hover{
    background-color: black;
    color: white;
    border: 2px solid silver;
    box-shadow: none;
    transition: 1.5s;
}